<h1><%=movie.title%></h1>
<div class="singleMovie">
  <img
    src="<%=movie.image%>"
    alt="single movie image"
    style="width: 20%"
  />
  <p><%=movie.director%></p>
  <p>Starring: <%=movie.stars%></p>
  <p><%=movie.description%></p>
  <p>Showtimes: <%=movie.showtimes%></p>
</div>